.frame {
    min-height: 100px;
    min-width: 100%;
    background-repeat: repeat-x;
    animation: scroll-background 10s linear infinite;
    outline: none;
    border: none;
}

@keyframes scroll-background {
    0% {
        background-position: 0 center;
    }

    100% {
        background-position: var(--LOOP_WIDTH) center;
    }
}