.frame {
    display: grid;
    background-color: white;
    border-radius: 6px;
    aspect-ratio: 1;
    padding: 16px;

    &.disabled {
        color: rgba(0, 0, 0, 0.75);
        border: 2px dashed rgba(255, 255, 255, 0.75);
        background-color: rgba(255, 255, 255, 0.2);
    }

    &.disabled img {
        opacity: 0.75;
    }
}

.label {
    text-align: center;
    padding: 6px;
    outline: 2px solid blue;
}

.description {
    text-align: center;
    outline: 2px solid green;
}

.overlay {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        outline: 2px solid red;
        inset: 0;
        backdrop-filter: blur(4px);
    }
}