.frame {
    position: relative;
    height: 46px;
    width: 100%;
    background-color: white;
    border-radius: 100vw;
    padding: 4px;

    &.small {
        height: 16px;
        padding: 2px;
    }
}

.indicator {
    display: block;
    background-color: var(--bg-red-500);
    border-radius: 100vw;
    height: 100%;
}

.label {
    position: absolute;
    inset: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}